# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Virtual environment
venv/
env/

# Model files
*.pth

# Plots/Images
static/*.png

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
